@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>I want to donate</h1>
    <p class="lead"><b>I want to donate</b> is an organization which helps the people who is in need.   If you want to donate, you can send notifications from website or app and describe the details of donation.  You can also register as a user.  If you are member from non-profit orgnaizations then you can register as a receiver.  Recivers will receive messages when ever anyone donates anything.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Donate food</h2>
        <p>
            You can donate food.  When you have excessive food, share it with the needy.  Just send a nofication from the app, 
            which notifies the registered groups and they come and collect.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Donate accessories</h2>
        <p>Donate any accessories like books, jewellery, furniture so on so forth.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Donate clothes</h2>
        <p>Donate clothes.  It can be men wear or women wear or kids wear or anything.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>